# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/learnopengl/x64/Debug/learnopengl.tlog
/learnopengl/x64/Debug
/learnopengl.vcxproj.user
/learnopengl.vcxproj.filters
/learnopengl.vcxproj
/learnopengl.sln
/x64/Debug/learnopengl.pdb
/learnopengl/learnopengl.vcxproj.user
/learnopengl/learnopengl.vcxproj.filters
/learnopengl/learnopengl.vcxproj
/learnopengl/stb_image.h
/learnopengl/stb_image.cpp
